body {
    background: #262628;
    color: #fff;
}

.wrapper {
    padding: 100px 15px;
    height: 100vh;
}

.container {
    font-size: 35px;
    margin: 0 auto;
    padding: 50px;
    max-width: 1000px;
    height: 100%;
}

.inner {
    display: flex;
    position: relative;
    height: 100%;
    z-index: 1;
}

.block {
    /* height: 300px; */
    /* width: 100%; */
    max-width: 10000px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.842);

    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background: #fff;
    height: 100px;
    position: fixed;
    right: 50px;
    left: 50%;
    bottom: 100px;
}

.red {
    background: #cc4c4c;
    position: absolute;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    top: -50%;
    left: 20%;
}